{% extends 'imagersite/base.html' %}
{% block body %}
<div class="homepage">
    {% if user.is_authenticated %}
        <h3>Welcome back, {{ user }}</h3>
        <a href="{% url 'imager_profile:user_profile' %}">{{ user }} Profile</a>

        <h3>Links to Other Profiles:</h3>
        <ul>
            {% for user in userlist %}
                <li><a href="{% url 'imager_profile:others_profile' user.username %}">{{ user.username }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Please Log In or Register</h3>
    {% endif %}
</div> <!-- homepage -->
{% endblock %}